@import "normalize"
@import "variables"

body
    display flex
    min-height 100vh
    flex-direction column
    &::-webkit-scrollbar
        width 6px
    &::-webkit-scrollbar-thumb
        background grey
        border-radius 5px
    &.night-mode
        // background black
        *,
        .change-mode.not-resp a,
        footer .socials a
            color white
        header nav a::after,
        .change-mode.not-resp .black-mode::after, 
        .change-mode.not-resp .white-mode::after,
        footer .socials a::after
            background rgba(black, 0.5)
        .burger-bar, .share
            color white!important
            img
                filter brightness(10)

@keyframes fade-in
    from 
        opacity 0
        transform scale(.9,.9)
    to 
        opacity: 1

.fade-in-element 
    animation fade-in 1.4s

.hidden
    opacity 0
    font-size 0

.night
    width 100%
    height 100vh
    z-index -1
    position fixed
    transition 1s
    &::after
        position absolute
        content ""
        width 100%
        right 0
        height 100vh
        background black
        transition 1s
    &::before 
        position absolute
        content ""
        width 0
        right 0
        height 100vh
        background white
        transition 1s
    &.active
        &::after
            width 0
            right auto
            left 0
        &::before 
            width 100%
       
        
main 
	flex 1 0 auto

.header-height
	margin-top 64px

header
    position absolute 
    width 100%
    top 0
    left 0
    z-index 100
    &.fixed
        nav
            background red
    nav
        transition 0.2s
        margin-top 20px
        height auto!important
        line-height auto!important
        li
            line-height 40px
            position relative
            overflow hidden
            &:hover,
            &.active
                background transparent
                a
                    // font-weight bold
                    &::after
                        width 0
            &:nth-child(2)
                &::before
                    content ""
                    position absolute
                    left 0
                    bottom 0
                    width 1px
                    height 5px
                    background rgba(grey, 0.9)
                &::after
                    content ""
                    position absolute
                    right 0
                    bottom 0
                    width 1px
                    height 5px
                    background rgba(grey, 0.9)
        a
            color black
            font-family lato_regular
            border-bottom 1px solid rgba(grey, 0.9)
            padding 0 45px
            position relative
            &::after
                content ''
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                width 100%
                height 100%
                background rgba(white, 0.5)
                transition 0.4s
            &:hover
                background transparent
            
.change-mode
    position fixed
    right 10px
    top 50%
    transform translateY(-50%)
    .mode-inside
        transform rotate(90deg)
    a
        color black
        cursor pointer
    .black-mode,
    .white-mode
        position relative
        &::after
            content ''
            position absolute
            width 100%
            height 100%
            top 0
            left 50%
            transform translateX(-50%)
            background rgba(white, 0.5)
            transition 0.4s
        &.active,
        &:hover
            &::after
                width 0           
    .mode-button
        width 20px
        height 2px
        background grey
        display block
        margin 11px 8px 0
        position relative
        &.active
            &::after
                left 11px
        &::after
            content ""
            position absolute
            left -1px
            top -4px
            width 10px
            height 10px
            border-radius 50%
            background grey
            transition 0.2s

footer
    padding 30px 0
    .socials
        li
            display inline-block
        a 
            color black
            margin 0 5px
            position relative
            &::after
                content ''
                width 100%
                height 100%
                position absolute
                top 0
                left 50%
                transform translateX(-50%)
                background rgba(white, 40%)
                transition 0.4s
            &:hover
                &::after
                    width 0
                    
.about-content
    margin-top 200px
    +mq(600px)
        margin-top 110px
    .title
        font-size 20px
        font-weight bold
    .text
        margin-top 20px
        color grey
.works-content
    margin-top 110px
    .carousel
        height auto!important
    .carousel-item
        width 100%
        height auto
        &.active
            position relative
    .tab
        margin 0 30px 0 0
        a
            padding 0
            color grey!important
            text-transform lowercase
    li + li a
        position relative
        &::after
            content ""
            position absolute
            width 5px
            height 5px
            background grey
            border-radius 50%
            left -20px
            top 50%
            transform translateY(-50%)
    .indicator
        background grey
    .tabs 
        transition 0.2s
        .tab 
            -webkit-box-flex: unset;
            -webkit-flex-grow: unset;
            -ms-flex-positive: unset;
            a
                overflow visible
.each-work
    margin-top 20px
    display block
    .image
        cursor pointer
        image(100%)

.lightbox-wrap .lightbox-title-over
    position static
    line-height 1em
    border-radius 0

.lightbox-wrap .lightbox-skin
    border-radius 0

.each-image-text
    width 450px

.lightbox-inner
    width 600px!important
    
.popup-content
    position fixed
    top 0
    right -100vw
    width 100%
    height 100vh
    z-index 101
    background rgba(black,0.75)
    display flex
    align-items center 
    transition 0.5s
    opacity 0
    overflow hidden
    +mq(600px)
        display none 
    >div
        transition 1s
        width 100%
        left 100%
        position absolute
    &.active
        right 0
        opacity 1
        >div
            left 0
    .close
        position absolute
        width 100%
        height 100%
        background transparent
    .popup-inside
        transition 0.5s
        background white;
        max-height 90vh
        overflow auto
        position relative
        z-index 102
    .image
        width 100%
        margin 20px 10px
        image(100%)
    .row
        margin 0!important
    .text
        margin 20px 5px 20px 10px
        overflow auto
        padding-right 5px
        &::-webkit-scrollbar
            width 5px
            background white
        &::-webkit-scrollbar-thumb
            border-radius 5px
            background rgba(black, 0) 
        &:hover
            &::-webkit-scrollbar-thumb
                background rgba(black, 0.1)  
                 
    .arrows
        img
            width 25px
        button
            background transparent
            border none
            top 50%
            padding 0
            line-height auto
            transform translateY(-50%)
            position absolute
            z-index 103
            transition 0.4s
            +mq(992px)
                top auto
                bottom -50px
                transform none
        .left
            left 40px
            +mq(992px)
                left calc(50% - 40px)
                &:hover
                    padding-left 0!important
                    transform scale(1.2,1.2)
            &:hover
                padding-left 20px
        .right
            right 40px
            +mq(992px)
                right calc(50% - 40px)
                &:hover
                    padding-right 0!important
                    transform scale(1.2,1.2)
            &:hover
                padding-right 20px
    .text-footer
        margin 10px
        padding 20px 0
        border-top 1px solid rgba(black, 0.1)
        .share
            color black
            font-size 12px
            &:hover
                color #89c5d8
            img
                width 20px
                margin-right 10px
                margin-top 3px
        time
            font-size 12px
            color #95a5a6
            margin-top 5px
    .title
        font-size 18px
        padding-top 30px
    .tags
        font-size 12px
        color #95a5a6
        padding-bottom 10px
        border-bottom 1px solid rgba(black, .1)
        margin-bottom 20px
.burger-bar
    width 80px
    background transparent
    border none
    margin-top 50px
    opacity 0.7

.responsive-menu
    position fixed
    z-index 105
    width 100%
    height 100vh
    right -100%
    top 0
    background rgba(white, 0.95)
    display none
    align-items center
    padding-left 40px;
    transition 0.8s
    &.active
        right 0
    +mq(992px)
        display flex
    li
        display block
        a
            color #262626
            font-size 30px
            opacity 0.9
    .close
        background url(../img/close-button.svg) no-repeat center center
        background-size 90%
        border none
        width 30px
        height 30px
        position absolute
        right 30px
        top 30px
        opacity 0.6
    .change-mode
        right -8px
        position absolute

.hide-on-lg-and-up
    display none
    +mq(992px)
        display block

.hidden-responsive-text
    .text
        .title
            padding-top 10px
    .text-body
        overflow auto
        padding-right 5px
        max-height 100px
        &::-webkit-scrollbar
            width 5px
            background white
        &::-webkit-scrollbar-thumb
            border-radius 5px
            background rgba(black, 0) 
        &:hover
            &::-webkit-scrollbar-thumb
                background rgba(black, 0.1)  
    .text-footer
        margin 10px
        padding 20px 0
        border-top 1px solid rgba(black, 0.1)
        .share
            color black
            font-size 12px
            &:hover
                color #89c5d8
            img
                width 20px
                margin-right 10px
                margin-top 3px
        time
            font-size 12px
            color #95a5a6
            margin-top 5px
    .title
        font-size 18px
        padding-top 30px
    .tags
        font-size 12px
        color #95a5a6
        padding-bottom 10px
        border-bottom 1px solid rgba(black, .1)
        margin-bottom 20px

.hidden-responsive-text
    display none
    +mq(600px)
        display block
    